<!-- <div class="client-logo-slider d-flex align-items-center">
  {{ range .Site.Data.homepage.clientSlider.item }}
  <a href="{{ .URL }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid" src="{{.logo | absURL}}" alt="client-logo"></a>
  {{ end }}
</div>
replace client slider with testimonials
-->
{{ if .Site.Data.homepage.testimonial.enable }}
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">Testimonials</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        {{ range .Site.Data.homepage.testimonial.item }}
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <p class="text-white mb-4">{{.content | markdownify}}</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{.image | absURL }}" alt="client-image">
          <h4 class="text-white">{{.name }}</h4>
          <h6 class="text-light mb-4">{{ .designation }}</h6>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- bg shapes -->
  <img src="{{`images/backgrounds/map.png` | relURL }}" alt="map" class="img-fluid bg-map">
  <img src="{{`images/illustrations/dots-group-v.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="{{`images/illustrations/leaf-orange.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-2">
  <img src="{{`images/illustrations/dots-group-sm.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-3">
  <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL }}" alt="bg-shape" class="img-fluid mw-5 bg-shape-4">
  <img src="{{`images/illustrations/leaf-cyan.svg` | relURL }}" alt="bg-shape" class="img-fluid bg-shape-5">
</section>
<!-- /testimonial -->
{{ end }}
