<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img style="max-width:100px" src="{{`images/illustrations/page-title.svg`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">
  <img style="max-width:100px" src="{{`images/illustrations/cloud-computing.svg`| relURL}}" alt="illustrations" class="mw-5 bg-shape-2">
  <img style="max-width:100px" src="{{`images/illustrations/dots-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img style="max-width:50px" src="{{`images/illustrations/blockchain.svg`| relURL}}" alt="illustrations" class="bg-shape-4">
  <img style="max-width:100px" src="{{`images/illustrations/vr-glasses.svg`| relURL}}" alt="illustrations" class="bg-shape-5">
  <img style="max-width:100px" src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-6">
  <img style="max-width:100px" src="{{`images/illustrations/filter.svg`| relURL}}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->
