{{ define "main" }}

  {{ partial "page-title.html" . }}
  <section class="section pt-5">
    <div class="container">
      <div class="row">
<div class="card-columns">
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="text">Email</h5>
            <p class="text font-secondary"><a href="mailto:{{.Site.Params.footer.email}}">{{.Site.Params.footer.email}}</a></p>
            </div>

        </div>
        <div class="card bg-light">
          <div class="card-body">
          <h5 class="">Phone US</h5>
          <p class="text font-secondary"><a href="tel:{{.Site.Params.footer.phone}}">{{.Site.Params.footer.phone}}</a></p>
        </div></div>
        <div class="card bg-light">
          <div class="card-body">
          <h5 class="text">Phone EU</h5>
          <p class="text font-secondary"><a href="tel:{{.Site.Params.footer.phone2}}">{{.Site.Params.footer.phone2}}</a></p>
        </div></div>
        <div class="card bg-light">
          <div class="card-body">
          <h5 class="text">Address</h5>
          <p class="text font-secondary">{{.Site.Params.footer.address}}</p>
        </div></div>
      </div>
      </div>
  </section>


{{ end }}
